# Ignore artifacts:

# VSCode
.vscode/
/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
frontend/.vscode
# Local History for <a href="https://www.jcchouinard.com/python-with-vscode/">Visual Studio Code</a>
.history/

# Environments
.env

# Packages and builds
backend/dist
backend/node_modules
frontend/.next
frontend/node_modules

# Configs 
frontend/*.config.js
frontend/tsconfig.json
frontend/package.json
frontend/package-lock.json
