@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #f3f3f3;
  --background-color: #0C0C0C;
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
}

*::selection {
  color: var(--background-color);
  background: var(--foreground-color);
}

.border-custom {
  border: 20px solid transparent;
  padding: 8px;
  border-image: url("/hash-border-ver-2_1.webp") 27 round;
}